.productList {
  flex: 4;
  margin: 10px;
  height: 71vh;
}
.productListStatus {
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
}
.inOrder {
  color: #3bb377;
  background-color: #e5faf2;
}

.notFound {
  color: #d95087;
  background-color: #fff0f1;
}
.productsListEdit {
  border-radius: 10px;
  border: none;
  padding: 5px 10px;
  margin-right: 1rem;
  background-color: #3bb377;
  color: #fff;
  cursor: pointer;
}
.productsListDelete{
    color: #d95087;
    cursor: pointer;
}